.navigation-bar {
    background-color: #50603d;
    padding: 10px;
    display: flex;
    align-items: center;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  .nav-link {
    color: #FFFFFF; /* Match the text color with the tickets */
    text-decoration: none;
    margin-right: 10px;
    font-family: 'Roboto Mono', monospace;
    font-size: 20px; /* Increased font size */
    font-weight: bold; /* Added font weight */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Added text shadow */
  }
  .nav-separator {
    color: #FFFFFF;
    margin-right: 10px;
  }
  .cooking-app-title {

    margin-right: auto;
  }
  .nav-link:hover {
    text-decoration: underline;
  }

  .greeting {
    color: #010007; /* Match the text color with the tickets */
    text-decoration: none;
    margin-right: 10px;
    font-family: 'Roboto Mono', monospace;
    font-size: 20px; /* Increased font size */
    font-weight: bold; /* Added font weight */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Added text shadow */
  }